body {
    font-family: 'Simonetta', cursive;
    background-color: mediumpurple;
}

.jumbotron{
  margin-top: 5px;
  text-align: center;
}
.jumbotron h1{
    font-family: "Arial Black", cursive;
}


.message-form{
  float: none;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFF;
  border-radius: 10px;
}

a {
  color: #00B7FF;
}
